<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sportswear Store - User</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<header>
    <div class="block1">
        <nav>
            <a href="/" class="text1">Sportswear Store&nbsp;&nbsp;&nbsp;</a>
            <a href="/" class="text2">HOME</a>
            <a href="/product" class="text2">ORDER</a>
            <a href="/admin" class="text2">ADMIN</a>
            <a href="/user" class="text2">USER</a>
            <a href="/image"><img class="button2" align="right" th:src="@{'/css/images/icon_buy.png'}" alt="icon buy" width="40px" height="40px"></a>
        </nav>
    </div>
</header>
<body>
<h1 align="center" class="text3">S P R I N G</h1>
<hr>
<div align="center">
    <br>
    <table>
        <caption class="text2"><b>U S E R</b></caption>
        <tr>
            <th class="block4">ID</th>
            <th class="block4">FIRST NAME</th>
            <th class="block4">LAST NAME</th>
            <th class="block4">CITY</th>
            <th class="block4">PHONE NUMBER</th>
            <th class="block4">EMAIL</th>
            <th class="block4"> </th>
            <th class="block4"> </th>
        </tr>
        <tr th:each="users : ${user}">
            <td class="text3" th:text="${users.id}"></td>
            <td class="text3" th:text="${users.firstname}"></td>
            <td class="text3" th:text="${users.lastname}"></td>
            <td class="text3" th:text="${users.city}"></td>
            <td class="text3" th:text="${users.phoneNumber}"></td>
            <td class="text3" th:text="${users.email}"></td>
            <td class="button3"><a th:href="@{/user/editUser/{id}(id=${users.id})}">Edit</a></td>
            <td class="button3"><a th:href="@{/user/deleteUser/{id}(id=${users.id})}">Delete</a></td>
        </tr>
    </table>
</div>
<hr>
<br>
<br>
<br>
<br>
</body>
<footer align="center" class="block2"><b>&copy; 2024 Efimov Alexander. All rights reserved.</b></footer>
</html>